* {
    font-family: Colfax-Regular;
}
.background {
    viewport-fill: black;
}

#screen1 {
    display: none;
}

#clock-txt {
    font-size: 80;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 60%;
    fill: white;
}

#heart-rate {
    font-size: 20;
    fill: #555555;
    x: 90%;
    y: 20%;
    text-anchor: end;
    text-length: 100;
}

.perm-text {
    text-length: 64;
    fill: white;
    width: 80%;
    x: 10%;
    text-anchor: middle;
}

.app-name {
    text-length: 32;
    fill: #999999;
    text-anchor: end;
}

#counters-container {
    y: 80%;
    height: 20%;
    pointer-events: visible;
}

.counters text {
    text-length: 32;
    fill: #a75521;
}

.counter-prim {
    font-size: 24;
    y: 40%;
}

.counter-sec {
    font-size: 16;
    y: 70%
}